/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500;600&family=Work+Sans:wght@700&display=swap');

/* common style */

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;

  
   
   
}


/* Top-site */
.top-class{
    display: flex;
    
}


.menu{
    /* margin-right: 240px; */
    position: relative;
    margin-left: 800px;  
    /* main left margin is 673px */
    margin-top: 63px;

}

.menu a{
    padding-left: 20px;
    text-decoration: none;
    color:#424242 ;
    font-weight: 500;
    font-size: 18px;
}

.G3-Architects h1{
    position:absolute;
    height: 53px;
    width: 303px;
    margin-left: 150px;
    /* main left margin is 228px */
    margin-top: 50px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

/* brand-section */
.brand-section{
    
    
}

.brand-name h2{
    text-align: center;
    height:200px;
    width: 600px;

    margin-left:350px ;
    margin-top: 150px;
    font-weight: 700;
    font-size: 60px;
    color: #131313;
}
.brand-description p{
    margin-top: -50px;
    margin-left: 250px ;
    text-align: center;
    height: 52px;
    width: 868px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.explor-more button{
    position: absolute;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    border-style: none;
    color: white;
    margin-left: 42%;
}

/* main- image section */

.main-img img{
    width: 1000px;
    height: 400px;
    margin-top:10%;
    margin-left: 12%;

}

/* second banner section  */
.multipul-img{
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
    width:430px ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1%;
    /* background-color: #FF900E; */
}


.second-banner-img img{
    height: 200px;
    width: 200px;
    padding-left: -20%;
    border-radius: 10px;
}

.second-title{
    position: absolute;
    width: 300px;
    height: 304px;
    margin-left: 47%;
    margin-top:7%;
    /* background-color: #320eff; */
}

.title-discript p{
    width: 100%;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.second-title button{
    position: absolute;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    border-style: none;
    color: white;
    margin-left:0%;

}





/* title style */
.quick{
    font-weight: 500;
    font-size: 30px;
    color: #727272;
}

.of-out{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 500;
    font-size: 42px;
    color: #3b3737;
    font-style: bold;
}

.feature{
    color: #FF900E;
    font-size: 38px;
}

/* feuture banner section  */

.feature-title{
    display: grid;
    grid-template-columns: repeat(1fr);
    margin-top: 40%;
    margin-left: 10%;
    /* background-color: #c9b5a0; */
    width: 250px;
    height: 600px;
}

.feature-title button{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 20%;
    height: 100px;
    width: 200px;

}

#exprince-btn button{
    position: absolute;
    margin-left: 50%;
    margin-top: -10%;
    height: 150px;
    width: 300px;
    background-color: #FF900E;
    border-style: none;
    border-radius: 10px;
    color: white;
}


#year{
    font-weight: 700;
    font-size: 42px;
}
#exprince{
    font-weight: 500;
    font-size: 20px;
}

.color{
    height: 80px;
    width: 5px;
    border: 2px solid #FF900E;
    background-color: #FF900E;
    position: absolute;
    margin: 45px 120px;
}

.feature-you-will h2{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    height: 106px;
    width: 468px;
}

.feature-you-will p{
    font-weight: 400;
    font-size: 16px;
    height: 78px;
    width: 586px;
    padding: 5px;
    margin-top: -5px;
    color: #727272;
}
.desktop h3{
    padding-top: 50px;
    font-weight: 600;
    font-size: 20px;
    margin-top: -60px;
    margin-left: 25px;
}

.desktop p{
    margin-top: -15px;
    height: 78px;
    width: 514px;
    margin-left: 25px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.drag h3{
    padding-top: 50px;


    font-weight: 600;
    font-size: 20px;
    margin-top: -60px;
    margin-left: 25px;
}

.drag p{
    margin-top: -15px;

    height: 78px;
    width: 514px;
    margin-left: 25px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.awesome h3{
    padding-top: 50px;

    font-weight: 600;
    font-size: 20px;
    margin-top: -60px;
    margin-left: 25px;
}

.awesome p{
    margin-top: -15px;

    height: 78px;
    width: 514px;
    margin-left: 25px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.super h3{
    padding-top: 50px;


    font-weight: 600;
    font-size: 20px;
    margin-top: -60px;
    margin-left: 25px;
}

.super p{
    margin-top: -15px;

    height: 78px;
    width: 514px;
    margin-left: 25px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}



.feature-image{
    position: relative;
    left: 55%;
    margin-top:-42%;
}
.feature-image img{
    width: 450px;
    height: 650px;
}
/* second title style end  */


/* some facts */
.some{
    margin-top: 3%;
    height: 52px;
    width: 542px;
    margin-left: 10%;
}


.some-facts h3{
    font-weight: 700;
    font-size: 45px;
    margin-left: 3%;
}

.some-facts p{
    margin-top: -30px;
    font-weight: 400;
    font-size: 16px;
    color: #727272; 
    margin-left: 4%; 
}

/* point area  */
.point-table{
 
    margin: 10% 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.point-mark{
    box-shadow: 10px 10px 10px gray;
    padding-top: 50px;
    border: 2px solid rgb(247, 228, 65);
    border-radius: 5px;
    justify-content: center;
    height: 180px;
    width: 200px;

}


/* hover  */
.point-table :hover{

    transition: 0.5s;
    background-color: lightcoral;
}


/* our-sponsports */
.our-sponsports{
    text-align: center;

}

.our-sponsports h3{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.our-sponsports p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 500px;
    height: 50px;
    margin-left: 32%;
    margin-top: -2%;
}

.brand-icone{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 5%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.last{
    font-weight: 400;
    font-size: 16px;
    color: #424242;
    text-align: center;
    margin-top: 5%;

}





/* Responsive area ---------------------------------------------------------------- */


@media screen and (max-width: 576px) {

    .G3-Architects h1 {
        
        position:absolute;
        margin-left: 8%;
        margin-top: 5px;
        font-weight: 700;
        font-size: 45px;
        color: #131313;
    }
    
    .brand-name h2{
        margin-top: 100px;
        margin-left: -120px;
        font-size: 30px;
    }

    .brand-description p{
        height: 100px;
        width: 80%;
        margin-left: 10%;
        margin-top: -40%;

    }

    .explor-more button{
        margin-top: 10%;
        margin-left: 25%;
    }


    /* image section  */
    .main-img img{
        width: 350px;
        height: 200px;
        margin-top:35%;
        margin-left: 1%;
    }

    .multipul-img{
        display: block;
        margin-left: -7%;
        margin-top:100%;
        /* background-color: #c0af9b; */
        text-align: center;
        margin-top: 110%;
      
    }
      
    .multipul-img img{
        margin-top: 5%;
    }

    .second-title{
        position: absolute;
        width: 300px;
        height: 304px;
        margin-left: 10%;
        text-align: center;
        margin-top:2%;
        /* background-color: #320eff; */
    }

    .title-discript p{
        width: 180%;
        color: #727272;
        font-weight: 400;
        font-size: 16px;
        margin-left: 0%;
        width: 300px;
        color: #727272;
    }

    .second-title button{
        margin-left: -30%;
        margin-top: 10%;
    }

    .feature-title{

        margin-top: 370%;
        margin-left:55%;
        width: 60px;
        text-align: center;
        justify-content: center
    
    }

    .feature-you-will h2{
        width: 300px;
        font-size: 35px;
        margin-left: 15px;
    }

    .color{
        display: none;

    }   

    .feature-you-will p{
        width: 380px;
        height: 100px;
        margin-left: -9%;
        margin-top: -50px;
        text-align: center;
        padding: 10px;
        color: #727272;
    }

    .desktop h3{
        text-align: center;
        height: 20px;
        width: 300px;
        margin-left: 5%;
    }

    .desktop p{
        
        width: 380px;
        height: 100px;
        margin-left: -9%;
        margin-top: -20px;
        text-align: center;
        padding: 10px;
        color: #727272;
    }

    .drag h3{
        text-align: center;
        height: 20px;
        width: 300px;
        margin-left: 5%;
    }

    
    .drag p{
        width: 400px;
        height: 100px;
        text-align: center;
        margin-left: 4%;
        padding: 2px;
        color: #727272;
    }

    .awesome h3{
        text-align: center;
        height: 20px;
        width: 300px;
        margin-left: 10%;
    }

    .awesome p{
        width: 400px;
        height: 100px;
        text-align: center;
        margin-left: 4%;
        padding: 2px;
        color: #727272;
    }

    
    .super h3{
        text-align: center;
        height: 20px;
        width: 300px;
        margin-left: 10%;
    }

    .super p{
        width: 400px;
        height: 100px;
        text-align: center;
        margin-left: 4%;
        padding: 2px;
        color: #727272;
    }


    .some{
        margin-top: 100%;
        height: 52px;
        width: 542px;
        margin-left: 15%;
    }

    .some-facts p{
        width: 200px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        color: #727272; 
        margin-left: 8%; 
        margin-bottom: 20%;
    }
    

   
/* -------------------------- */
    /* problem image */
    .feature-image{
        position: relative;
        left: 55%;
        margin-top:-42%;
     
    }
    .feature-image img{
        display: none;
        width: 450px;
        height: 650px;
    }
    /* ------------------------------ */

    /* point area  */
    .point-table{
 
        margin: 15% 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20%;
        gap: 5px;
        justify-content: center;
        text-align: center;
        color: #424242;

    }

    .point-mark{
        height: 150px;
        width: 150px;
        margin-left: 10%;
        margin-top: 20%;
        color: #424242;
    }

    .menu{
        display: none;
    }





}